<template>
  <a :href="href"  @click="onClick" :style="labelStyle" :class="classname">
    <i :class="icon"></i>
    {{text}}
    <slot></slot>
  </a>
</template>
<script>
export default {
  name: "image-link",
  props: ["href", "icon", "labelStyle", "text", 'classname'],
  methods: {
    onClick(event) {
      this.$emit("click", event);
    }
  }
};
</script>
<style scoped>
a{
    text-decoration: none;
}
</style>
