<template>
  <button :style="buttonStyle" :class="classname" @click="onClick">
    <slot></slot>
    {{text}}
  </button>
</template>
<script>
export default {
  name: "image-button",
  props: ["classname", "buttonStyle", "text"],
  methods: {
    onClick(event) {
      this.$emit("click", this);
    }
  }
};
</script>