<template>
  <button :style="buttonStyles" @click="onClick" @mouseover="onHover">
    <slot></slot>
  </button>
</template>
<script>
export default {
  name: "my-button",
  data() {
    return {
      buttonStyles: {
        border: "1px solid #eee",
        borderRadius: 3,
        backgroundColor: "#FFFFFF",
        cursor: "pointer",
        fontSize: 15,
        padding: "3px 10px",
        margin: 10
      }
    };
  },
  methods: {
    onHover(){
      this.$emit('demo', event)
    },
    onClick() {
      this.$emit('click', {name: "sdsd"});
    }
  }
};
</script>
<style>
</style>


