<template>
  <label :for="element_id" :style="labelStyle" :class="classname">
    <slot></slot>
    {{text}}
  </label>
</template>
<script>
export default {
  name: "sys-label",
  props: ["text", "labelStyle", "element_id", "classname"]
};
</script>
<style>
</style>